Repository hathach/tinyusb, pull requests merged in 2020-04, with the labels that each got.

#323 Cache MSP430 toolchain and NPM modules.
  .github/workflows/build.yml
Labels: Feature

#333 fix incorrect setup packet
  examples/device/cdc_msc_freertos/src/main.c
  src/portable/espressif/esp32s2/dcd_esp32s2.c
Labels: EPS32-S2

#378 synopsys: Reduce interrupt time for IN ZLP
  src/portable/st/synopsys/dcd_synopsys.c
Labels: STM32 Synopsys

#380 synopsys turn off TX FIFO Empty for EPIN if all bytes are written
  src/class/net/net_device.c
  src/device/usbd.c
  src/device/usbd_control.c
  src/portable/espressif/esp32s2/dcd_esp32s2.c
  src/portable/st/synopsys/dcd_synopsys.c
Labels: ESP32-S2, STM32 Synopsys
