Repository hathach/tinyusb, pull requests merged in 2024-11, with the labels that each got.

#2875 Update Hil for dwc2
  .idea/cmake.xml
  examples/device/cdc_msc/CMakeLists.txt
  examples/host/device_info/only.txt
  examples/host/device_info/src/CMakeLists.txt
  examples/host/device_info/src/main.c
  examples/host/device_info/src/tusb_config.h
  hw/bsp/espressif/boards/espressif_p4_function_ev/board.h
  hw/bsp/espressif/boards/family.c
  hw/bsp/espressif/components/tinyusb_src/CMakeLists.txt
  hw/bsp/stm32f7/boards/stm32f723disco/board.cmake
  hw/bsp/stm32f7/boards/stm32f723disco/board.mk
  hw/bsp/stm32f7/family.c
  src/portable/synopsys/dwc2/dwc2_info.md
  src/portable/synopsys/dwc2/dwc2_info.py
  src/portable/synopsys/dwc2/hcd_dwc2.c
  test/hil/hfp.json
  test/hil/hil_ci_set_matrix.py
  test/hil/hil_test.py
  test/hil/tinyusb.json
  tools/build.py
  tools/build_utils.py
Labels: Prio Urgent

#2863 Fix _rhport_role warning
  src/tusb.c
Labels: Prio Higher

#2866 Fix 2 UAC issue
  examples/device/uac2_headset/src/tusb_config.h
  src/class/audio/audio_device.c
Labels: Prio Higher

#2881 Enhance dwc2 dcd
  hw/bsp/family_support.cmake
  src/common/tusb_mcu.h
  src/portable/synopsys/dwc2/dcd_dwc2.c
  src/portable/synopsys/dwc2/dwc2_common.c
  src/portable/synopsys/dwc2/dwc2_common.h
  src/portable/synopsys/dwc2/dwc2_type.h
  src/portable/synopsys/dwc2/hcd_dwc2.c
  src/tusb_option.h
  test/hil/tinyusb.json
Labels: Prio Urgent

#2883 [DCD_DWC2][ESP32P4][HS] Added cache synchronization (cont)
  hw/bsp/espressif/components/tinyusb_src/CMakeLists.txt
  src/common/tusb_mcu.h
  src/device/dcd.h
  src/device/usbd.c
  src/portable/synopsys/dwc2/dcd_dwc2.c
  src/portable/synopsys/dwc2/dwc2_common.c
  src/portable/synopsys/dwc2/dwc2_esp32.h
  src/tusb_option.h
Labels: Prio Urgent

#2887 change dcd_dcache_*() API return type from void to bool
  src/common/tusb_mcu.h
  src/common/tusb_types.h
  src/device/dcd.h
  src/device/usbd.c
  src/portable/chipidea/ci_hs/dcd_ci_hs.c
  src/portable/synopsys/dwc2/dcd_dwc2.c
  src/portable/synopsys/dwc2/dwc2_esp32.h
  src/tusb_option.h
Labels: Prio Urgent

#2888 Esp32p4 host dma
  examples/host/cdc_msc_hid_freertos/src/cdc_app.c
  examples/host/cdc_msc_hid_freertos/src/main.c
  examples/host/cdc_msc_hid_freertos/src/msc_app.c
  examples/host/device_info/src/main.c
  examples/host/msc_file_explorer/src/msc_app.c
  hw/bsp/espressif/boards/family.c
  hw/bsp/espressif/components/tinyusb_src/CMakeLists.txt
  hw/bsp/family_support.cmake
  hw/bsp/rp2040/family.cmake
  src/class/cdc/cdc_host.c
  src/class/cdc/cdc_host.h
  src/class/hid/hid_host.c
  src/class/msc/msc_device.c
  src/class/msc/msc_host.c
  src/class/msc/msc_host.h
  src/common/tusb_mcu.h
  src/common/tusb_types.h
  src/host/hcd.h
  src/host/usbh.c
  src/host/usbh.h
  src/portable/synopsys/dwc2/dcd_dwc2.c
  src/portable/synopsys/dwc2/hcd_dwc2.c
  src/tusb_option.h
  test/hil/hil_test.py
  test/hil/tinyusb.json
  tools/build.py
Labels: Prio Urgent

#2847 Rp2040 - ISO API to make Audio work / Merge to master
  src/class/video/video_device.c
  src/common/tusb_common.h
  src/common/tusb_mcu.h
  src/portable/raspberrypi/rp2040/dcd_rp2040.c
Labels: Port RP2

#2829 net_lwip_webserver example fix and improvement
  examples/device/net_lwip_webserver/src/main.c
  examples/device/net_lwip_webserver/src/usb_descriptors.c
Labels: Prio Higher
