Repository hathach/tinyusb, pull requests merged in 2025-07, with the labels that each got.

#2967 MSC Device: Add asynchronous IO support
  examples/device/cdc_msc/src/msc_disk.c
  examples/device/cdc_msc_freertos/src/main.c
  examples/device/cdc_msc_freertos/src/msc_disk.c
  src/class/msc/msc_device.c
  src/class/msc/msc_device.h
  src/device/usbd.c
  src/host/usbh.c
Labels: Prio Higher

#2593 cdc: add uart status notification support.
  examples/device/cdc_dual_ports/src/main.c
  examples/device/cdc_dual_ports/src/tusb_config.h
  examples/device/cdc_dual_ports/src/usb_descriptors.c
  examples/device/cdc_msc/src/main.c
  examples/device/cdc_msc/src/tusb_config.h
  examples/device/cdc_msc/src/usb_descriptors.c
  examples/device/cdc_msc_freertos/src/main.c
  examples/device/cdc_msc_freertos/src/tusb_config.h
  examples/device/cdc_msc_freertos/src/usb_descriptors.c
  src/class/cdc/cdc.h
  src/class/cdc/cdc_device.c
  src/class/cdc/cdc_device.h
  src/device/usbd.h
Labels: Prio Higher

#2963 Add DWC2 cache maintenance routines for STM32
  hw/bsp/stm32f7/family.c
  hw/bsp/stm32h7/family.c
  hw/bsp/stm32h7rs/boards/stm32h7s3nucleo/board.cmake
  hw/bsp/stm32h7rs/boards/stm32h7s3nucleo/board.mk
  hw/bsp/stm32h7rs/boards/stm32h7s3nucleo/stm32h7s3xx_flash.icf
  hw/bsp/stm32h7rs/family.c
  hw/bsp/stm32h7rs/family.cmake
  hw/bsp/stm32h7rs/family.mk
  hw/bsp/stm32h7rs/linker/stm32h7s3xx_flash.ld
  src/class/audio/audio_device.c
  src/common/tusb_mcu.h
  src/common/tusb_types.h
  src/portable/synopsys/dwc2/dwc2_stm32.h
  src/tusb_option.h
Labels: Prio Higher

#3166 try to skip passed board in hil test when re-run
  .github/workflows/build.yml
  test/hil/hil_test.py
Labels: Prio Urgent

#3150 audio: manage ISO transfer in ISR
  examples/device/audio_4_channel_mic/src/main.c
  examples/device/audio_4_channel_mic_freertos/src/main.c
  examples/device/audio_test/src/main.c
  examples/device/audio_test/src/plot_audio_samples.py
  examples/device/audio_test/src/tusb_config.h
  examples/device/audio_test_freertos/src/main.c
  examples/device/audio_test_freertos/src/plot_audio_samples.py
  examples/device/audio_test_freertos/src/tusb_config.h
  examples/device/audio_test_multi_rate/src/main.c
  examples/device/audio_test_multi_rate/src/tusb_config.h
  examples/device/cdc_uac2/skip.txt
  examples/device/cdc_uac2/src/main.c
  examples/device/cdc_uac2/src/tusb_config.h
  examples/device/cdc_uac2/src/uac2_app.c
  examples/device/cdc_uac2/src/usb_descriptors.c
  examples/device/uac2_headset/src/main.c
  examples/device/uac2_headset/src/tusb_config.h
  examples/device/uac2_speaker_fb/src/main.c
  hw/bsp/stm32h7rs/boards/stm32h7s3nucleo/board.h
  src/class/audio/audio_device.c
  src/class/audio/audio_device.h
  src/device/usbd.c
  src/device/usbd_pvt.h
Labels: Prio Higher

#3165 Fix HID descriptor parsing of 4‑byte items
  src/class/hid/hid_host.c
Labels: Prio Urgent, codex

#2573 Add support for SAMD21 HCD
  .idea/cmake.xml
  examples/host/bare_api/only.txt
  examples/host/cdc_msc_hid/only.txt
  examples/host/cdc_msc_hid_freertos/only.txt
  examples/host/device_info/only.txt
  examples/host/hid_controller/only.txt
  examples/host/midi_rx/only.txt
  examples/host/msc_file_explorer/only.txt
  hw/bsp/samd21/boards/atsamd21_xpro/board.h
  hw/bsp/samd21/boards/circuitplayground_express/board.h
  hw/bsp/samd21/boards/curiosity_nano/board.h
  hw/bsp/samd21/boards/cynthion_d21/board.h
  hw/bsp/samd21/boards/feather_m0_express/board.h
  hw/bsp/samd21/boards/itsybitsy_m0/board.h
  hw/bsp/samd21/boards/metro_m0_express/board.h
  hw/bsp/samd21/boards/qtpy/board.h
  hw/bsp/samd21/boards/seeeduino_xiao/board.h
  hw/bsp/samd21/boards/sparkfun_samd21_mini_usb/board.h
  hw/bsp/samd21/boards/trinket_m0/board.h
  hw/bsp/samd21/family.c
  hw/bsp/samd21/family.cmake
  hw/bsp/samd21/family.mk
  hw/bsp/samd5x_e5x/boards/d5035_01/board.h
  hw/bsp/samd5x_e5x/boards/feather_m4_express/board.h
  hw/bsp/samd5x_e5x/boards/itsybitsy_m4/board.h
  hw/bsp/samd5x_e5x/boards/metro_m4_express/board.h
  hw/bsp/samd5x_e5x/boards/pybadge/board.h
  hw/bsp/samd5x_e5x/boards/pyportal/board.h
  hw/bsp/samd5x_e5x/boards/same54_xplained/board.h
  hw/bsp/samd5x_e5x/family.c
  hw/bsp/samd5x_e5x/family.cmake
  hw/bsp/samd5x_e5x/family.mk
  src/portable/microchip/samd/hcd_samd.c
Labels: Prio Higher

#2987 make sure TOTAL_DRIVER_COUNT is not overflow 8-bit
  src/device/usbd.c
Labels: Prio Urgent
